<div class="row">
   <div class="col-sm-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DateTime</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let time of timeData">
                <td>{{time}}</td>
            </tr>
        </tbody>
    </table>
   </div>
   <div class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                    <th scope="col">Volum</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let value of this.timeDataValue" >
                    <td>{{value['1. open']}}</td>
                    <td>{{value['2. high']}}</td>
                    <td>{{value['3. low']}}</td>
                    <td>{{value['4. close']}}</td>
                    <td>{{value['5. volume']}}</td>
                </tr>
            </tbody>
        </table>
   </div>
</div>
